
.face-in {
  animation: slideIn .8s linear, fadeIn .2s ease-in;
}
.face-in-on{
  animation: fadeIn .2s ease-in;
}

@keyframes slideIn {
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}


@keyframes fadeIn {
  from{opacity: 0;}
  to {opacity: 1;}
}
